html {
    height: 100%;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 1em;

    background-color: steelblue;
    background-image: url("https://assets.science.nasa.gov/dynamicimage/assets/science/missions/webb/science/2022/07/STScI-01GA6KKWG229B16K4Q38CH3BXS.png");
    background-position: center;
    background-size: cover;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: snow;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: snow;
    font-style: italic;
}

.my_details {
    font-size: 1.5em;
    color: snow;
}

.emergency_button {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 5px;

    font-size: 1.5em;
    color: snow;
    background-color: red;
    border: 3px solid red;
    border-radius: 10px;
}

.button {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 5px;

    font-size: 1.5em;
    color: snow;
    border: 3px solid snow;
    border-radius: 10px;
}
