html {
    height: 100%;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 1em;

    background-color: lightgrey;
    background-image: url("https://media.cntraveler.com/photos/5804ef77b5529ddf55125b40/master/pass/nasa-earth-views-01-cr-courtesy.jpg");
    background-position: center;
    background-size: cover;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: gainsboro;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: gainsboro;
    font-style: italic;
}

.my_details {
    font-size: 1.5em;
    color: gainsboro;
}

.emergency_button {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 5px;

    font-size: 1.5em;
    color: snow;
    background-color: firebrick;
    border: 3px solid firebrick;
    border-radius: 10px;
}

.button {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 5px;

    font-size: 1.5em;
    color: gainsboro;
    border: 3px solid gainsboro;
    border-radius: 10px;
}
