body {
    font-family: "Times New Roman", serif;
    font-size: 1em;

    background-color: steelblue;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: snow;
    text-decoration: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: snow;
    font-style: italic;
}

.my_details {
    font-size: 1.5em;
    color: snow;
}
